<% include partials/header %>

<div class="ui center aligned container">
  <div class="ui header">
    <h1>About SteepBlog!</h1>
  </div>
  <hr>
  <div id="about" class="ui left aligned container">
    <h3>Hi all,</h3>
    <h3>This page is just to give a short description about SteepBlog!  Its a very simple but yet dynamic website. This is another website that I built entirely myself.  I have been taking classes to be able to build applications this one. However this site was not a requirement, I did this just a side project.  On this the user has the ability to create new topics, post blogs to any topic, and comment on any blog.  The user can edit or delete thier own posts, but topics are forever. Incase someone else posted in the topic. When posting an image PLEASE FIND ONE FROM THE WEB, copy and paste the URL. I will revise this site or build a new one with a diffent database that will allow the user to upload images from thier computer.  Thank you for visiting my site!</h3>
  </div>
</div>

<% include partials/footer %>
